.button-container {
  margin-top: 25px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button {
  padding: 0.5em;
  font-size: 16px;
  border: none;
  background: #ff2e63;
  color: white;
  transition: all 0.3s ease;
}
button:hover {
  border-radius: 10px;
}
button:active {
  background: #000000;
  color: white;
}

@media (max-width: 820px) {
  button {
    font-size: 14px;
  }
}
